{% extends 'elder/index.html' %}
{% load static %}
{% block content %}
<div style="margin-top:50px; margin-left: 20px; position: fixed; z-index: 1;">
    <a href="{% url 'sos_emergency' %}" class="shadow btn btn-danger btn-circle btn-xl show-toast">SOS</a>
  </div>
  {% if toast %}
  <div class="toast" id="myToast" data-autohide="false" style="position: absolute; margin-left: 45%; z-index: 10;">
    <div class="toast-header">
        <strong class="mr-auto"><i class="fa fa-grav"></i> SOS Emergency</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div>Your Emergency is sent to near by volunteer. You will contacted soon</div>
    </div>
  </div>
  {% endif %}
  <div style="z-index: -1;">
  <div style=" margin-left: 340px; margin-top: 30px;" >
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'elder/images/photo1.jpg' %}" class="d-block" width="1000" height="500" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'elder/images/photo2.jpg' %}" class="d-block" width="1000" height="500" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'elder/images/photo3.jpg' %}" class="d-block" width="1000" height="500" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br><br> 
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="background-color:linen;">
                <h5 class="card-title">Health Support</h5>
                <a href="{% url 'elder_healthsupport' %}" class="btn btn-primary">Health Support</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="background-color:linen;">
                <h5 class="card-title">Support for walk</h5>
                <a href="{% url 'elder_walksupport' %}" class="btn btn-primary">Walk Support</a>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="background-color:linen;">
                <h5 class="card-title">Mental/Counseling Support</h5>
                <a href="{% url 'elder_mentalsupport' %}" class="btn btn-primary">Mental Support</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="background-color:linen;">
                <h5 class="card-title">House Keeping</h5>
                <a href="{% url 'elder_housekeeping' %}" class="btn btn-primary">House Keeping</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="background-color:linen;">
                <h5 class="card-title">Hospital near me</h5>
                <a href="{% url 'elder_hospital' %}" class="btn btn-primary">Hospitals</a>
              </div>
            </div>
          </div>
        </div>
  </div>
  <br><br>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0" style="text-align: center;">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <p style="font-size: x-large;">FAQ</p>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body" style="text-align: center;">
          <p>Q) Is the app paid?</p><br>
          <p>Q) A) No, it covers the basic functionalities and is free to use. After adding advanced functionalities some services will be payable</p><br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0" style="text-align: center;">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <p style="font-size: x-large;">Log a Case</p>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body" style="text-align: center;">
          <form action="">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="">
            </div>
            <div class="form-group">
              <label for="number">Mobile No.</label>
              <input type="tel" name="number">
            </div>
            <div class="form-group">
              <label for="decription">Description</label>
              <input type="text" name="description" id="">
            </div>
            <button type="submit" class="btn btn-primary">Log a case</button>
          </form>  
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0" style="text-align: center;">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <p style="font-size: x-large;">Donation</p>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body" style="text-align: center;">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="">
            </div>
            <div class="form-group">
              <label for="number">Mobile No.</label>
              <input type="tel" name="number">
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" name="amount" id="">
            </div>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-description="Sarathi Donation"
                data-locale="auto">
            </script>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <footer class="mastfoot mt-auto w3-light-grey">
      <div class="inner" style="font-size: x-large;">
          <div class="w3-xlarge w3-section" style="text-align: center;">
              <i class="fa fa-facebook-official w3-hover-opacity"></i>
              <i class="fa fa-instagram w3-hover-opacity"></i>
              <i class="fa fa-snapchat w3-hover-opacity"></i>
              <i class="fa fa-pinterest-p w3-hover-opacity"></i>
              <i class="fa fa-twitter w3-hover-opacity"></i>
              <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
          <p style="text-align: center;">Made with &hearts; <a href="{% url 'elder_home' %}">Sarathi</a></p>
      </div>
  </footer>
</div>
{% endblock content %}
