{% extends 'elder/index.html' %}
{% load static %}
{% block content %}

<br><br>
    <div style="margin-left: 700px; margin-right: 700px;">
        {% for item in hospital %}
        <div class="col-sm-6 card text-dark bg-light mb-3" style="max-width: 48rem;">
            <div class="card-body">
              <h5 class="card-title">{{item}}</h5>
              <p class="card-text">{{hospital.item}}</div>
          </div>
          {% endfor %}
    </div>
    <footer class="mastfoot mt-auto w3-light-grey" style="margin-top: 1000px;">
        <div class="inner" style="font-size: x-large;">
            <div class="w3-xlarge w3-section" style="text-align: center;">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
              </div>
            <p style="text-align: center;">Made with &hearts; <a href="{% url 'elder_home' %}">Sarathi</a></p>
        </div>
    </footer>

{% endblock content %}