{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarathi</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:azure;">
    <nav class="navbar navbar-light bg-light" style="justify-content: center;">
        <span class="navbar-brand mb-0 h1" style="font-size: 40 ;font-family: 'Times New Roman', Times, serif;"> <b> Sarathi</b></span>
    </nav>
    <br><br>
    <div style="margin-left: 150px; margin-right: 150px;">
        <div class="card-deck">
            <div class="card">
              <img src="{% static 'elder/images/cleaning.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Nejra Spehic</h3>
                <p class="card-text">Volunteer popular for helping in utensils.</p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'elder/images/delivery.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Mourag Castro</h3>
                <p class="card-text">Volunteer popular for helping in deliverables.</p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'elder/images/garbage_collector.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Henry Dave</h3>
                <p class="card-text">Helps in garbage and other household activities.</p>
              </div>
            </div>
          </div>
    </div>
    <br><br>
    <div class="shadow justify-content-center" style="margin-left: 400px; margin-right: 400px; padding-bottom: 30px;">
        <form action="" style="background-color:powderblue;">
        <div class="form-group" style="margin-left: 30px; margin-right: 30px;">
            <label for="name">Name</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group" style="margin-left: 30px; margin-right: 30px;">
            <label for="number">Mobile No.</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group" style="margin-left: 30px; margin-right: 30px;">
            <label for="date">Select Date</label>
            <input type="date" class="form-control" >
        </div>
        <div class="form-group" style="margin-left: 30px; margin-right: 30px;">
            <label for="time">Select Time</label>
            <input type="time" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 30px;">Book</button>
        </form>
    </div>
    <br><br>
    <footer class="mastfoot mt-auto w3-light-grey">
        <div class="inner" style="font-size: x-large;">
            <div class="w3-xlarge w3-section" style="text-align: center;">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
              </div>
            <p style="text-align: center;">Made with &hearts; <a href="{% url 'elder_home' %}">Sarathi</a></p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
</body>
</html>