{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarathi</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:azure;">
    <nav class="navbar navbar-light bg-light" style="justify-content: center;">
        <span class="navbar-brand mb-0 h1" style="font-size: 40 ;font-family: 'Times New Roman', Times, serif;"> <b> Sarathi</b></span>
    </nav>
    <br><br>
    <div style="margin-left: 200px; margin-right: 200px;">
        <div class="card-deck">
            <div class="card">
              <img src="{% static 'elder/images/senior_events.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Daily all day events</h5>
                <p class="card-text">Join a local event happening and meet other people. </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                    Join Event
                </button>
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Daily events</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        Ask event manager to join ?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'elder/images/senior_tweetup.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Senior Tweetup</h5>
                <p class="card-text">Socialise with other senior citizens!</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Join Tweetup
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Senior Tweetup</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        Ask members to join ?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <br><br>
    <div style="margin-left: 400px; margin-right: 400px;">
        <div class="card-deck">
            <div class="card">
              <img src="{% static 'elder/images/walk_support.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Walk Support</h5>
                <p class="card-text">We help connect volunteers that can hepl you have a walk outside.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                    Ask volunteer
                </button>
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Walk Suppor Request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form action="">
                        <div class="shadow modal-body" >
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" name="name" id="">
                            </div>
                            <div class="form-group">
                                <label for="number">Mobile No.</label>
                                <input type="number" name="number" id="">
                            </div>
                            <div class="form-group">
                                <label for="date">Choose Date</label>
                                <input type="date" name="date">
                            </div>
                            <div class="form-group">
                                <label for="time">Select time</label>
                                <input type="time" name="time">
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Request</button>
                    </form>
                    </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <footer class="mastfoot mt-auto w3-light-grey">
        <div class="inner" style="font-size: x-large;">
            <div class="w3-xlarge w3-section" style="text-align: center;">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
              </div>
            <p style="text-align: center;">Made with &hearts; <a href="{% url 'elder_home' %}">Sarathi</a></p>
        </div>
    </footer> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
</body>
</html>