{% extends 'home/base.html' %}
{% block content %}
<div style="margin-left: 950px; margin-right: 100px;" class="shadow p-3 mb-5 bg-white rounded" >
    <h1 style="text-align: center;">Register Now</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <br><br>
        {{field.label}}
        <br>
        {{field}}
        {% endfor %}
        <br><br>
        <button type="submit">Sign up</button>
    </form>
    <p>Already have account? <a href="/login">login here</a></p>
</div>
<div style="margin-top: 50px;">
    <footer class="mastfoot mt-auto w3-light-grey" >
        <div class="inner" style="font-size: x-large;">
            <div class="w3-xlarge w3-section" style="text-align: center;">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
              </div>
            <p style="text-align: center;">Made with &hearts; <a href="{% url 'login' %}">Sarathi</a></p>
        </div>
    </footer>
</div>
{% endblock %}